<section class="bg-gray-200 min-h-screen flex justify-center items-center ">
    <!-- form container -->
    <div class="bg-gray-100 flex rounded-2xl shadow-lg max-w-3xl p-5 text-center">
        <!-- form section  -->
        <div class="sm:w-1/2 text-center">

            <div class="mt-5">
                <h1 class="text-2xl">{{"Enter your registered email" | uppercase}}</h1>
            <p class="text-light mt-3 text-gray-500 text-xs"> we'll send you instructions to reset your password.</p>
            </div>
            <form action="" [formGroup]="forgotPasswordForm" class="mt-6">
                <mat-form-field class="w-60 mt-6 border rounded-sm ">
                    <mat-label class="font-mono text-sm">Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email" required>
                    <mat-error class="text-xs" *ngIf="forgotPasswordForm.get('email')?.untouched">
                        Email is required
                    </mat-error>
                    <ng-container class="text-xs" *ngIf="forgotPasswordForm.get('email')?.touched">
                        <mat-error class="text-xs" *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
                            Email is required
                        </mat-error>
                        <ng-container class="text-xs" *ngIf="!forgotPasswordForm.get('email')?.hasError('required')">
                            <mat-error class="text-xs" *ngIf="forgotPasswordForm.get('email')?.hasError('notLowerCase')">
                                Email address must be in lowercase.
                            </mat-error>
                            <mat-error class="text-xs"
                                *ngIf="forgotPasswordForm.get('email')?.hasError('invalidEmail') && !forgotPasswordForm.get('email')?.hasError('notLowerCase')">
                                Email is not valid
                            </mat-error>
                        </ng-container>
                    </ng-container>
                </mat-form-field>
                    <div class="col-span-2 text-center">
                        <button
                            class="mt-4 w-52 !h-12 cursor-pointer !transition ease-in-out delay-150 hover:!bg-indigo-500 hover:-translate-y-1 hover:!scale-110 !duration-300"
                            type="submit" (click)="forgotPasswordFormSubmit()" mat-raised-button color="primary">Submit</button>
                    </div>
            </form>
        </div>
        <!-- img section -->
        <div class="w-1/2 hidden sm:block ">
            <app-lottify></app-lottify>
        </div>
    </div>


</section>
<ngx-ui-loader></ngx-ui-loader>