
    <div class="bg-[url('https://d9d3263cc7ac2.cloudfront.net/pexels-ekaterina-bolovtsova-4049992.jpg')] bg-cover bg-center h-screen relative">
        <div class="absolute right-2  top-[40%] text-center">
            <h1 class=" md:text-5xl text-2xl font-bold text-stone-900">Come lets call you're <br>
        stranger friends</h1>
                <button routerLink="/connect" mat-raised-button color="primary">Connect</button>
        </div>



    </div>

 <div class="bg-[url('https://d9d3263cc7ac2.cloudfront.net/pexels-olly-920382.jpg')] bg-cover bg-center h-screen relative " >

    </div> 
 
    <h1 class="text-center text-6xl mt-3 mb-3">Feautures</h1>
    <mat-divider></mat-divider>
<div class="flex bg-gray-100 justify-around pt-6 gap-3  flex-col md:flex-row">

<div class="max-w-sm  bg-white border  rounded-lg shadow  mx-auto">
    <a   href="#">
        <img class="rounded-t-lg" src="https://d9d3263cc7ac2.cloudfront.net/connect.jpg" alt="" />
    </a>
    <div class="p-2">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900  text-center">Connect</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
            acquisitions of 2021 so far, in reverse chronological order.</p>
                <div class="text-center">
                    <a routerLink="/connect"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white  rounded-lgfocus:ring-4 focus:outline-none focus:ring-blue-300  !transition ease-in-out delay-150 hover:!bg-indigo-500  "
                        mat-raised-button color="primary">
                        Check it out
                    </a>
                </div>
    </div>
</div>


<div class="max-w-sm  bg-white border  rounded-lg shadow mx-auto ">
    <a href="#">
        <img class="rounded-t-lg" src="https://d9d3263cc7ac2.cloudfront.net/5124556.jpg" alt="" />
    </a>
    <div class="p-2">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900  text-center">Chat</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
            acquisitions of 2021 so far, in reverse chronological order.</p>
                <div class="text-center">
                    <a routerLink="/chat"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white  rounded-lgfocus:ring-4 focus:outline-none focus:ring-blue-300  !transition ease-in-out delay-150 hover:!bg-indigo-500  "
                        mat-raised-button color="primary">
                        Check it out
                    </a>
                </div>
    </div>
</div>



<div   class="max-w-sm cursor-not-allowed text-center pointer-events-none  bg-white border  rounded-lg shadow mx-auto">
    <p class="text-stone-500">{{'Upcoming feature' | uppercase}}</p>
    <a href="#">
        <img class="rounded-t-lg" src="https://d9d3263cc7ac2.cloudfront.net/community.jpg" alt="" />
    </a>
    <div class="p-2">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-stone-500 text-center ">Community</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
            acquisitions of 2021 so far, in reverse chronological order.</p>
            <div class="text-center">
    <a href="#"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white  rounded-lgfocus:ring-4 focus:outline-none focus:ring-blue-300  !transition ease-in-out delay-150 hover:!bg-indigo-500  "
        mat-raised-button disabled color="primary">
        Check it out
    </a>    
            </div>
    
    </div>
</div>



</div>