<div #videoCallScreen class="inset-0 z-40 flex  items-center justify-center">
    <div class="bg-white rounded-lg shadow-lg p-4 sm:p-8 max-w-full mx-4 sm:mx-0">
        <div class="relative aspect-w-16 aspect-h-9">
            <!-- Video container -->
            <div  class="w-full h-full flex flex-col md:flex-row"  #videoContainer id="videoContainer">

                    <!-- <div class=" bg-black">
                        <div class="w-96 h-40"></div>
                    </div> -->
            </div>
        </div>
        <div class="mt-4 flex justify-center">
            <button class="hover:bg-red-900 bg-red-500 text-white px-4 py-2 rounded-md mr-2" (click)="endCall()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                        clip-rule="evenodd" />
                </svg>
            </button>
            <button class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M7 4a3 3 0 016 0v4a3 3 0 11-6 0V4zm4 10.93A7.001 7.001 0 0017 8a1 1 0 10-2 0A5 5 0 015 8a1 1 0 00-2 0 7.001 7.001 0 006 6.93V17H6a1 1 0 100 2h8a1 1 0 100-2h-3v-2.07z"
                        clip-rule="evenodd" />
                </svg>
            </button>
        </div>
    </div>
</div>