<nav class="flex justify-between items-center bg-indigo-500 text-white">
<div>
    <img src="/assets/auth-images/icons8-google-64.png" alt="">
</div>
<div>
    <ul class="flex gap-6">
        <li class="cursor-pointer" routerLink="/" >Home</li>
        <li>Connect</li>
        <li>Chatt</li>
        <li>Community</li>
        <li>Subscription</li>
    </ul>
</div>
<div>
    <ul class="flex gap-3 ">
        <li class="cursor-pointer " routerLink="login" >Login</li>
        <li class="cursor-pointer" routerLink="signup">Signup</li>
    </ul>
</div>

</nav>



