

    <header [ngClass]="{'scroll':isScrolled}" class="fixed top-0 left-0 right-0 z-50 h-16 bg-indigo-800">
        <div class="flex items-center md:justify-around justify-between ">
<div class="">
    <a routerLink="/"><img class="w-16" src="/assets/logo/q.png" alt=""></a>

</div>
            <div #menusection
                class="md:static  rounded-b-lg bg-blue-900 md:bg-transparent absolute top-[-1000%] z-10 w-full h md:w-auto text-center">
                <ul class="flex gap-2 text-white  md:flex-row flex-col  md:mt-0 mt-10 md:bg-transparent bg-blue-900">
                    <div class="hover:bg-blue-500 hover:text-white  cursor-pointer  hover:font-bold p-5" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >
                        <li><a class="" >Home</a></li>
                    </div>
                    <div class="hover:bg-blue-500 hover:text-white  cursor-pointer  hover:font-bold p-5" routerLink="/connect" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <li><a  routerLink="/">Connect</a></li>
                    </div>
                    <div class="hover:bg-blue-500 hover:text-white  cursor-pointer  hover:font-bold p-5" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <li><a>Chat</a></li>
                    </div>
                    <div class="hover:bg-blue-500 hover:text-white  cursor-pointer  hover:font-bold p-5">
                        <li><a  >Community</a></li>
                    </div>
                    <div class="hover:bg-blue-500  hover:text-white   cursor-pointer  hover:font-bold p-5">
                        <li><a routerLink="/">Subscription</a></li>
                    </div>
                                <mat-icon #hamburger class="cursor-pointer md:!hidden mx-auto !w-16 !h-16" aria-hidden="false" aria-label="Example home icon"
                                    (click)="onToggleMenu(hamburger) " fontIcon="menu"></mat-icon>
                </ul>
            </div>
            <div class="flex items-center justify-center gap-3">
                <button class="!rounded-full cursor-pointer !transition ease-in-out delay-150 hover:!bg-indigo-500" mat-raised-button  *ngIf="this.authService.getAccessToken()" color="primary" (click)="logout()">Logout</button>
                <button class="!rounded-full cursor-pointer !transition ease-in-out delay-150 hover:!bg-indigo-500" mat-raised-button *ngIf="!this.authService.getAccessToken()" routerLink="/login" color="primary">Login</button>
                    <mat-icon  class="mat-18 cursor-pointer"         matTooltip="Notificaton"
   (click)="notification =!notification"  fontIcon="notification_add"></mat-icon>
                <mat-icon  #hamburger class="cursor-pointer md:!hidden mr-3" aria-hidden="false" aria-label="Example home icon"
                    (click)="onToggleMenu(hamburger)" fontIcon="menu"></mat-icon>
            </div>

        </div>
        <app-notification #notificationComponent *ngIf="notification">
        
        </app-notification>

    </header>


