
<div *ngIf="planDetails?.subscriptionDetails" class="h-screen flex  items-center justify-center p-10">
    <div class="w-full max-w-md">
        <h1 class=" font-bold text-4xl text-blue-900">{{"Your current plan" | uppercase}} </h1>
        <div class="p-12  rounded-lg shadow-xl bg-gradient-to-br from-blue-600 to-purple-600 sm:p-8">
            <div class="flex flex-col items-start justify-start gap-4 mb-6 lg:flex-row">
                <div>
                    <h3 class="text-2xl font-semibold text-white jakarta sm:text-4xl">{{this.planDetails?.subscriptionDetails?.planname}}</h3>
                </div>

            </div>
            <div class="mb-4 space-x-2">
                <span class="text-4xl font-bold text-white">&#8377;{{this.planDetails?.subscriptionDetails?.amount}}</span>
<span class="text-2xl text-indigo-100 line-through">
    &#8377;{{ (planDetails?.subscriptionDetails?.amount! + 100) + '/' + (planDetails?.subscriptionDetails?.plantype) |lowercase }}
</span>


            </div>
            <ul class="mb-6 space-y-2 text-indigo-100">
                <li *ngFor="let feature of planDetails?.subscriptionDetails?.features" class="flex items-center gap-1.5">
                    <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="">{{feature}}</span>
                </li>
               
            </ul>
            <button  [disabled]="true"
                class="block px-8 py-3 text-sm font-semibold text-center text-white transition duration-100 bg-white rounded-lg outline-none bg-opacity-20  md:text-base">End on
                {{planDetails?.subscriptionEndDate | date}}</button>
        </div>
    </div>
</div>
