<div >
    <!--      upper part-->
    <div class="flex justify-between    items-center px-16  py-6 border-b-2  bg-indigo-800 rounded ">

        <div class="flex flex-col md:flex-row items-center md:gap-1 ">
            <img class="w-10 h-10 rounded-full" [src]="participantData?.avatar" alt="">
            <p class="md:text-[18px] text-white -translate-y-1/3 font-bold md:ml-3">{{participantData?.firstname}}</p>

        </div>
        <span class="material-symbols-outlined text-white md:hidden hover:cursor-pointer " (click)=" chatComponent.wantChatPage()">
            menu_open
        </span>
        <div class="flex md:gap-5  gap-3">
            <button matTooltip="Call">
                <img class="md:w-10 md:h-10  w-6 h-6 rounded-full" src="/assets/logo/audio.png" alt="">

            </button>
            <button matTooltip="Video call">
                <img class="md:w-10 md:h-10  w-6 h-6 rounded-full" src="/assets/logo/video.png" alt="">

            </button>

        </div>

    </div>
    <!--    upper part end-->

<div class="chat flex flex-col gap-2 max-h-96 overflow-scroll p-3">
    <div *ngFor="let message of chatMessages"
        [ngClass]="{'justify-end': message.sender._id === currentUserId, 'justify-start': message.sender._id !== currentUserId}"
        class="flex items-start gap-2.5">

        <img *ngIf="message.sender._id !== currentUserId" class="w-9 h-9 rounded-full" [src]="message.sender.avatar"
            alt="{{message.sender.firstname}} image">

        <div [ngClass]="{'bg-blue-100': message.sender._id === currentUserId, 'bg-gray-100': message.sender._id !== currentUserId}"
            class="flex flex-col w-full md:max-w-[420px] max-w-[180px] leading-1.5 p-4 border-gray-200 rounded-e-xl rounded-es-xl">
            <div class="flex items-center space-x-2 rtl:space-x-reverse">
                <span class="text-sm font-semibold text-gray-900">{{message.sender.firstname}}</span>
                <span class="text-sm font-normal text-gray-500">{{message.createdAt | date}}</span>
            </div>
            <p class="text-sm font-normal py-2.5 text-gray-900">{{message.content}}</p>
            <span class="text-sm font-normal text-gray-500">Delivered</span>
        </div>

        <img *ngIf="message.sender._id === currentUserId" class="w-9 h-9 rounded-full" [src]="message.sender.avatar"
            alt="{{message.sender.firstname}} image">
    </div>
</div>


<!-- 
        <div class="flex justify-end items-start gap-2.5" *ngFor="let sender of chatMessages">
            <div
                class="flex flex-col w-full md:max-w-[420px] max-w-[180px]  bg-indigo-500 leading-1.5 p-4 border-gray-200 rounded-e-xl rounded-es-xl ">
                <div class="flex items-center space-x-2 rtl:space-x-reverse">
                    <span class="text-sm font-semibold text-white ">{{sender.sender.firstname}}</span>
                    <span class="text-sm font-normal text-gray-900 ">11:46</span>
                </div>
                <p class="text-sm font-normal py-2.5 text-white ">That's awesome. I think our users will really
                    appreciate the
                    improvements.</p>
                <span class="text-sm font-normal text-gray-900 ">Delivered</span>
            </div>
            <img class="w-8 h-8 rounded-full" src="/assets/images/male.jpg" alt="Jese image">
        </div> -->

        
        
    </div>
    <div class=" flex items-center  md:justify-center  gap-2 md:gap-1 p-5">
        <button matTooltip="Attach files" class="flex-shrink">
            <img class="md:w-10 md:h-10  w-7 h-7 rounded-full" src="/assets/logo/paper-clip.png" alt="">

        </button>
        <input placeholder="write a message" type="text" class="md:min-w-[70%] w-full p-3 rounded border ">
        <button matTooltip="send message" class="flex-shrink">
            <img class="md:w-10 md:h-10  w-7 h-7 rounded-full" src="/assets/logo/send.png" alt="">

        </button>
    </div>

