<div>
    <!--      upper part-->
    <div class="flex justify-between    items-center px-16  py-3 border-b-2  bg-indigo-800 rounded ">

        <div class="flex flex-col md:flex-row items-center md:gap-1 ">
            <img class="w-10 h-10 rounded-full" [src]="participantData?.avatar" alt="">
            <p class="md:text-[18px] text-white -translate-y-1/3 font-bold md:ml-3">{{participantData?.firstname!
                |trimSpecialChar | makeFirstCharUppercase}}</p>

        </div>
        <span class="material-symbols-outlined text-white md:hidden hover:cursor-pointer "
            (click)=" chatComponent.wantChatPage()">
            menu_open
        </span>
        <div class="flex md:gap-5  gap-3">
            <button matTooltip="Call" (click)="startVoiceCall()">
                <img class="md:w-10 md:h-10  w-6 h-6 rounded-full" src="/assets/logo/audio.png" alt="">

            </button>
            <button matTooltip="Video call" (click)="startCall()">
                <img class="md:w-10 md:h-10  w-6 h-6 rounded-full " src="/assets/logo/video.png" alt="">

            </button>

        </div>

    </div>
    <!--    upper part end-->

    <div class="chat flex flex-col gap-2 h-80  overflow-scroll  p-3" #chatContainer
        [scrollTop]="chatContainerRef?.nativeElement?.scrollHeight">
        <div *ngFor="let message of chatMessages; let last = last"
            [ngClass]="{'justify-end': message.sender._id !== currentUserId, 'justify-start': message.sender._id === currentUserId}"
            class="flex items-start gap-2.5 ">
            <!-- {{last?scrollToBottom():''}} -->
            <img *ngIf="message.sender._id == currentUserId" class="w-9 h-9 rounded-full" [src]="message.sender.avatar"
                alt="{{message.sender.firstname}} image">

            <div [ngClass]="{'bg-blue-100': message.sender._id === currentUserId, 'bg-gray-100': message.sender._id !== currentUserId}"
                class="flex flex-col w-full md:max-w-[420px] max-w-[180px] leading-1.5 p-4 border-gray-200 rounded-e-xl rounded-es-xl">
                <div class="flex items-center space-x-2 rtl:space-x-reverse">
                    <span class="text-sm font-semibold text-gray-900">{{message.sender._id === currentUserId ?
                        'You':message.sender.firstname}}</span>
                    <span class="text-sm font-normal text-gray-500">{{message.createdAt | timeago}}</span>
                </div>
                <div *ngIf="message.attachments.length>0" class="p-5">
                    <div class="flex flex-wrap gap-2">
                        <div *ngFor="let file of message.attachments" class="relative">
                            <img [src]="file.url" class="w-20 h-20 rounded" alt="selected image">
                        </div>
                    </div>
                </div>
                <p class="text-sm font-normal py-2.5 text-gray-900">{{message.content}}</p>
                <span class="text-sm font-normal text-gray-500">Delivered</span>
            </div>

            <img *ngIf="message.sender._id !== currentUserId" class="w-9 h-9 rounded-full" [src]="message.sender.avatar"
                alt="{{message.sender.firstname}} image">
            <span class="material-symbols-outlined  p-1 rounded-lg hover:bg-red-800  hover:text-white  cursor-pointer"
                (click)="deleteMessage(message._id,message.chat)" matTooltip="delete chat">
                more_vert
            </span>

        </div>
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
            type="module"></script>

        <dotlottie-player *ngIf="participantData?.typing"
            src="https://lottie.host/c600c738-6189-4f06-b402-8865f68adb0d/Bmrhh0x06z.json" background="transparent"
            speed="1" style="width: 100px; height: 100px;" loop autoplay></dotlottie-player>
        <!-- Display selected files -->
        <div *ngIf="selectedFiles.length > 0" class="p-5">
            <div class="flex flex-wrap gap-2">
                <div *ngFor="let file of fileSelectedToShowInUI" class="relative">
                    <img [src]="file.url" class="w-20 h-20 rounded" alt="selected image">
                    <button (click)="removeFile(file.file)"
                        class="absolute top-0 right-0 text-red-600 text-3xl">x</button>
                </div>
            </div>
        </div>

    </div>


    <div class=" flex items-center  md:justify-center  gap-2 md:gap-1 p-5">
        <button matTooltip="Attach files" class="flex-shrink" (click)="fileInput.click()">
            <!-- <img class="md:w-10 md:h-10  w-7 h-7 rounded-full" src="/assets/logo/paper-clip.png" alt=""> -->
            <span class="material-symbols-outlined text-5xl">
                attachment
            </span>

        </button>
        <input (input)="onTyping($event)" #messageInput placeholder="write a message" type="text"
            class="md:min-w-[70%] w-full p-3 rounded border ">
        <button matTooltip="send message" class="flex-shrink" (click)="sendMessage()">
            <!-- <img class="md:w-10 md:h-10  w-7 h-7 rounded-full" src="/assets/logo/send.png" alt=""> -->
            <span class="material-symbols-outlined text-5xl">
                send
            </span>
        </button>
        <input type="file" #fileInput (change)="onFilesSelected($event)" accept="image/*" multiple hidden />
    </div>
</div>

<div>
    <div #agoraUiKit class="flex absolute top-52 left-0">


    </div>
</div>